* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header{
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.box:last-child {
  margin-right: 0px;
}

.image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step {
  background-color: #FF9a4B;
  position: absolute;
  top:0;
  left: 0;
  color: #FFF;
}

.title {
  margin: 15px 0px 5px;
}

footer {
  height: 50px;
  background-color: #AAA;